.normal {
    background-color: #cbccc1;
}

.poison {
    background-color: #9b4189;
}

.psychic {
    background-color: #ff8cc4;
}

.grass {
    background-color: #97f170;
}

.ground {
    background-color: #ffdd8c;
}

.ice {
    background-color: #b4edff;
}

.fire {
    background-color: rgb(243, 93, 85);
}

.rock {
    background-color: #d4c893;
}

.dragon {
    background-color: #ada1ee;
}

.water {
    background-color: #74b7fa;
}

.bug {
    background-color: #cfd891;
}

.dark {
    background-color: #b48b7d;
}

.fighting {
    background-color: #c97764;
}

.ghost {
    background-color: #8d8cce;
}

.steel {
    background-color: #cacad4;
}

.flying {
    background-color: #8eb1fd;
}

.electric {
    background-color: #f8da78;
}

.fairy {
    background-color: #e6c6e6;
}





