.align {
    background-color: inherit;
    transform: rotate(-25deg);
}

.outer {
    background-color: rgba(0, 0, 0, 0.1);
}

.innerCut {
    background-color: inherit;
}

.innerCutRectangle {
    background-color: inherit;
}

.innerCircle {
    background-color: rgba(0, 0, 0, 0.1);
}