.normal {
    background-color: #adaea6;
}

.poison {
    background-color: #a35994;
}

.psychic {
    background-color: #ed5aa1;
}

.grass {
    background-color: #7bc45b;
}

.ground {
    background-color: #dcb760;
}

.ice {
    background-color: #80defa;
}

.fire {
    background-color: #e84a41;
}

.rock {
    background-color: #bcae71;
}

.dragon {
    background-color: #826fec;
}

.water {
    background-color: #46a0f8;
}

.bug {
    background-color: #afbf45;
}

.dark {
    background-color: #855f52;
}

.fighting {
    background-color: #b15a47;
}

.ghost {
    background-color: #6e6dbb;
}

.steel {
    background-color: #b3b2c4;
}

.flying {
    background-color: #6e97ef;
}

.electric {
    background-color: #f7d050;
}

.fairy {
    background-color: #e6a0e6;
}





